@charset "UTF-8";



#body_wrap { width:1600px; margin-left:auto; margin-right:auto; padding:0px;}	

#middle_wrap { display:inline-block; width:100%; padding:0px; margin:0px; text-align:center; border:solid 1px #EFEFEF;}
#footer_wrap { width:100%; border:solid 0px navy; clear:both;}
	

#sidebar_wrap { float:left; width:250px; margin:0px; padding:3px;}
#content_wrap { float:left; width:1250px;  border-left:solid 1px #EFEFEF; padding: 5px; }

#content_title_wrap { height:90px; width:100%;  text-align:left; font-weight:normal; line-height:2.5em; _line-height:2.7em; margin-bottom:10px; }
#content_title_wrap div.title { padding-left:25px; background-repeat:no-repeat; background-position:10px 9px; font-weight:bold; }




/* 비회원 주문조회 인증 페이지 */
.ordercheck_confirm_wrap { /* background-color: #d7fd75; */ margin-left: 350px; }
.ordercheck_confirm_title { /* background-color: red; */ border-bottom: 1px solid #dbdbdb; margin-bottom: 50px; margin-top: 50px; }
.ordercheck_confirm_content { /* background-color: blue; */) }
.ordercheck_confirm_title_font { font-size: 35px; }
#ordercheck_confirm_payment_code{ width: 400px; height: 70px; padding-left: 15px; font-size: 20px; }
#ordercheck_confirm_send_name{ width: 400px; height: 70px; padding-left: 15px; font-size: 20px; }
#ordercheck_confirm_btn{ width: 400px; height: 70px; background-color: #d7fd75; border: #d7fd75; font-size: 20px; }


/* 주문내역 조회하기 페이지 */
.ordercheck_wrap{ /* background-color: red; */ }
.ordercheck_tb{ border: 1px solid #dbdbdb; }
th{ text-align: center; }

