@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

<
style
>
@import
	url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Inconsolata|Reenie+Beanie|Schoolbell&display=swap')
	;

</
style>body {
	font-family: "Noto Sans KR", sans-serif;
	font: Open Sans;
	min-height: 100%;
	box-sizing: border-box;
}

#paging_wrap {
	position: absolute;
	bottom: 500px;
	left: 50%;
}

#empty {
	position: absolute;
	top: 500px;
	left: 40%;
}