-@charset "UTF-8";

body{
	font: Open Sans;
	min-height: 100%;
	padding: 30px;
	box-sizing: border-box;
}

#body_wrap { height:auto;margin-left:auto; margin-right:auto; min-height:100%;}	


.mainContainer{
	margin:1%;
	border: 3px solid green;
	
}

.productdetail_img_wrap{
	
	width: auto;
	height: auto;
	
}
.pqSelect{
	border-radius: 10px;
	width:100px;
	border: 1px solid #DADCE0;
	display:inline-block;
	text-align: center;
	
}
._sizeSelect{
	border-radius: 10px;
	width:100px;
	height:20px;
	border: 1px solid #DADCE0;
	text-align: center;
}
#buyBtn{
	border-radius: 13px;
	margin-top:5px;
	width:230px;
	height:35px;
	background: black;
	font: Open Sans 30px;
	color: white; 
}

#buyBtn:hover{
	opacity: 0.5;
}
.basketBtn{
	border-radius: 13px;
	margin-top:5px;
	width:230px;
	height:35px;
	background: white;
	font: Open Sans 30px;
	color: blakc; 
}
.basketBtn:hover{
	opacity:0.5;
}
#_sizeChoo{
	font: 100 14px Open Sans;
	font-style: inherit;
	border-radius: 10px;
	width: 50px;
	height:30px;
	display : inline-block;
	text-align: center;
	border: 1px solid #DADCE0;
	/* padding-top: 5px;
	margin-top: 5px; */
}
.basket{
    display:none;
    width:18%;
    height:100%;
    /* padding:10px; */
    border-radius:7px;
    position:fixed;
    top:5px;
    bottom:5px;
    right:0px;
    background-color:orange;
    z-index: 100000;
}

.moveBasketBtn{
margin-top:30px;
background-color: white;
font-weight: bold;
color: black;
width:150px;
height:30px;
display: inline-block;
text-align: center;
font-size: 15px;

cursor:pointer;
}
.moveBasketBtn:hover{
opacity: 0.9;
}
._basketOrderBtn{
margin-top:10px;
width:150px;
height:30px;
background: white;
font: Open Sans 80px;
color: orange;
text-align: center;
cursor:pointer;
display: inline-block;
font-weight: bold;
}
._basketOrderBtn:hover{
opacity: 0.9;
}


/* detail tab */

label.panel-label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    width: 100%;
    color: #bdc3c7;
    cursor: pointer;
    background-color: #F2F2F2;
    -webkit-transition-property: background-color, color;
    transition-property: background-color, color;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
}

/*留덉슦�뒪�삤踰�*/
label.panel-label:hover {
    color: gray;
}
#panels {
    background-color: white;
}
#panels .container {
    margin: 0 auto;
    width: 90%;
}
#panels section header label.panel-label {
    padding: 12px 24px;
    box-sizing: border-box;
}
#panels section main {
    box-sizing: border-box;
    max-height: 0;
    opacity: 0;
    -webkit-transition: opacity 600ms;
    transition: opacity 600ms;
    overflow-y: hidden;
}
#panel-1-ctrl:checked ~ #panels #panel-1 main {
    max-height: initial;
    opacity: 1;
    padding: 48px 24px;
}
#panel-2-ctrl:checked ~ #panels #panel-2 main {
    max-height: initial;
    opacity: 1;
    padding: 48px 24px;
}
#panel-3-ctrl:checked ~ #panels #panel-3 main {
    max-height: initial;
    opacity: 1;
    padding: 48px 24px;
}
#panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 {
    pointer-events: none;
    cursor: default;
    -webkit-transform: translate3d(0, 1px, 0);
    transform: translate3d(0, 1px, 0);
    box-shadow: none;
    border-right: none;
}
#panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1.last {
    border-right: 1px solid transparent;
   
}
#panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 + li {
  
    border-left: 1px solid #f2f2f2;
}
#panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 label.panel-label {
    background-color: white;
    color: #5D5D5D;
    padding-top: 24px;
     border-left: 1px solid #F4F4F4;
}
#panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 label.panel-label::after {
    height: 6px;
    
}


#panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 {
    pointer-events: none;
    cursor: default;
    -webkit-transform: translate3d(0, 1px, 0);
    transform: translate3d(0, 1px, 0);
    box-shadow: none;
    border-right: none;
}
#panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2.last {
    border-right: 1px solid transparent;
}
#panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 + li {
    border-left: 0px solid #dfdfdf;
}
#panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 label.panel-label {
    background-color: white;
    color: #5D5D5D;
    padding-top: 24px;
}
#panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 label.panel-label::after {
    height: 6px;
}
#panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 {
    pointer-events: none;
    cursor: default;
    -webkit-transform: translate3d(0, 1px, 0);
    transform: translate3d(0, 1px, 0);
    box-shadow: none;
    border-right: none;
}
#panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3.last {
    border-right: 1px solid transparent;
}
#panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 + li {
    border-left: 1px solid #dfdfdf;
}
#panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 label.panel-label {
    background-color: white;
    color: #5D5D5D;
    padding-top: 24px;
    border-right: 1px solid #F4F4F4;
}
#panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 label.panel-label::after {
    height: 6px;
}
ul#tabs-list {
    display: flex;
    justify-content: left;
    list-style: none;
    text-align: center;
    border-bottom: 0px solid #dfdfdf;
    margin: 0;
    padding: 0;
    text-align: center;
    border-bottom: 0px solid #dfdfdf;
}
ul#tabs-list li {
    display: flex;
    text-align: center;
    font-size: 0.875em;
    width: 18%;
    box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.05);
    border-right: 0px solid #dfdfdf;
    position: relative;
}
ul#tabs-list li:hover {
    -webkit-transition: none;
    transition: none;
    border-right: none;
}
ul#tabs-list li:hover.last {
    border-right: 1px solid transparent;
}
ul#tabs-list li:hover + li {
    border-left: 0px solid #dfdfdf;
}
ul#tabs-list li label.panel-label {
    position: relative;
    padding: 24px 0;
    font-size: 0.875em;
}

/*�꺆 hover*/

ul#tabs-list li label.panel-label::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 100%;
    background-color: #D6F87F;
    height: 0;
    -webkit-transition-property: height;
    transition-property: height;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
}
ul#tabs-list li label.panel-label:hover {
    padding-top: 24px;
}
ul#tabs-list li label.panel-label:hover::after {
    height: 6px;
}

.panel-radios {
    display: none;
}

/* 상품문의 리스트테이블 */
.list_table { width:98%;}
.list_table th { text-align:center; padding:20px 0px;  border-top: 3px solid #E0FF8B;}
.list_table td { padding:20px 0px 20px 10px;  border-top:1px solid #EFEFEF;}
.list_table td,.list_table th { font-size: 12px;}
 