<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="store">

<select id="search_auto" resultType="String">
	SELECT a.P_NAME, b_
	FROM rhy_store_product a INNER JOIN rhy_mem_c b
	
</select>


<select id="getCompanyList" resultType="String">
	SELECT C_NAME FROM rhy_mem_c
	ORDER BY (CASE WHEN C_NAME REGEXP '[A-Z]' THEN C_NAME REGEXP '[0-9]' ELSE C_NAME  NOT REGEXP '[A-Z]' END), C_NAME  ASC 
</select>

<!-- 상품리스트 -->
 <select id="getProductList" parameterType="com.rhymes.app.store.model.ProductParam" resultType="com.rhymes.app.store.model.ProductDto">

 	SELECT P_SEQ, P_NAME, C_NAME, P_TITLE, P_PRICE, P_COLOR, PHOTO1_FILE, C1_NAME
 	FROM (	SELECT ROW_NUMBER()OVER(ORDER BY 
 			<if test="sorting == 'NEW'">
		 	P_SEQ DESC
		 	</if>
		 	<!-- 낮은 가격 순으로 표시 -->
		 	<if test="sorting == 'PRICEDOWN'">
		 	P_PRICE ASC
		 	</if>
		 	<!-- 높은 가격 순으로 표시 -->
		 	<if test="sorting == 'PRICEUP'">
		 	P_PRICE DESC
		 	</if>
			) AS RNUM, 
			P_SEQ, P_NAME, C_NAME, P_TITLE, P_PRICE, P_COLOR, PHOTO1_FILE, RDATE, C1_NAME
			FROM rhy_store_product
			WHERE 1 = 1
 			
 			<!-- 검색시 -->
 			<if test="criterion != null and criterion != '' and keyword != null and keyword != ''">
				<!-- 브랜드 선택/검색 -->
				<if test="criterion == 'company_search'">
					AND C_NAME LIKE '%' #{keyword} '%'
				</if>
				<!-- 제품이름&브랜드 통합검색 -->				
				<if test="criterion == 'all_search'">
					<if test="c1_name != null and c1_name != ''">
					AND C1_NAME = #{c1_name}
					</if>
					
					<if test="c1_name == null or c1_name == ''">
						<if test="c2_name != null and c2_name != '' and c3_name != null and c3_name != ''">
						AND C2_NAME = #{c2_name} AND C3_NAME = #{c3_name}
						</if>	
					</if>
					
					AND (C_NAME LIKE '%' #{keyword} '%' OR P_NAME LIKE '%' #{keyword} '%')
				</if>
			</if>
			
			<!-- 카테고리 선택시 -->
				<!-- 1차 카테고리만 선택시 -->
				<if test="c1_name != null and c1_name != ''">
					AND C1_NAME = #{c1_name}
					<!-- 1,2차 카테고리 선택시 -->
					<if test="c1_name != null and c1_name != '' and c2_name != null and c2_name != ''">
						AND C2_NAME = #{c2_name}
						<!-- 1,2,3차 카테고리 선택시 -->
						<if test="c1_name != null and c1_name != '' and c2_name != null and c2_name != '' and c3_name != null and c3_name != ''" >
						AND C3_NAME = #{c3_name}
							<!-- 키워드가 존재할 때 -->
							<if test="keyword != null and keyword != ''">
								AND (C_NAME LIKE '%' #{keyword} '%' OR P_NAME LIKE '%' #{keyword} '%') 
							</if>
						</if>
					</if>
				</if>
			)A
 	WHERE RNUM BETWEEN ${start} AND #{end}

 		<if test="key == 'newarrival'">
 			AND (RDATE BETWEEN DATE_ADD(NOW(),INTERVAL -1 DAY ) AND NOW())
 		</if>	



 	ORDER BY 
		 	<if test="sorting == 'NEW'">
		 	P_SEQ DESC
		 	</if>
		 	<!-- 낮은 가격 순으로 표시 -->
		 	<if test="sorting == 'PRICEDOWN'">
		 	P_PRICE ASC
		 	</if>
		 	<!-- 높은 가격 순으로 표시 -->
		 	<if test="sorting == 'PRICEUP'">
		 	P_PRICE DESC
		 	</if>
 </select>
 
 <!-- 리스트에 불러올 상품 갯수 -->
 <select id="productCnt" parameterType="com.rhymes.app.store.model.ProductParam" resultType="java.lang.Integer">
 	SELECT IFNULL(COUNT(*), 0) AS CNT
	FROM rhy_store_product
	WHERE 1=1
	<!-- 검색시 -->
		<if test="criterion != null and criterion != '' and keyword != null and keyword != ''">
			<!-- 브랜드 검색 -->
			<if test="criterion == 'company_search'">
				AND C_NAME LIKE '%' #{keyword} '%'
			</if>
			<!-- 제품이름&브랜드 통합검색 -->				
			<if test="criterion == 'all_search'">
				<if test="c1_name != null and c1_name != ''">
				AND C1_NAME = #{c1_name}
				</if>
				<if test="c1_name == null or c1_name == ''">
					<if test="c2_name != null and c2_name != '' and c3_name != null and c3_name != ''">
					AND C2_NAME = #{c2_name} AND C3_NAME = #{c3_name}
					</if>
				</if>
				
				AND (C_NAME LIKE '%' #{keyword} '%' OR P_NAME LIKE '%' #{keyword} '%')
			</if>
		</if>
		
	<!-- 카테고리 선택시 -->
		<!-- 1차 카테고리만 선택시 -->
		<if test="c1_name != null and c1_name != ''">
			AND C1_NAME = #{c1_name}
			<!-- 1,2차 카테고리 선택시 -->
			<if test="c1_name != null and c1_name != '' and c2_name != null and c2_name != ''">
				AND C2_NAME = #{c2_name}
				<!-- 1,2,3차 카테고리 선택시 -->
				<if test="c1_name != null and c1_name != '' and c2_name != null and c2_name != '' and c3_name != null and c3_name != ''" >
				AND C3_NAME = #{c3_name}
				</if>
			</if>
		</if>
	
 </select>

<!-- 브랜드 1차 카테고리 불러오기 -->
 <select id="kCate1list" resultType="com.rhymes.app.store.model.category.Category1Dto" parameterType="com.rhymes.app.store.model.ProductParam">
 	SELECT DISTINCT(a.C1_NAME), b.C1_SEQ
 	FROM rhy_store_product a INNER JOIN rhy_store_cate1 b
 		ON a.C1_NAME = b.C1_NAME
 	WHERE (a.C_NAME LIKE '%' #{keyword} '%' OR a.P_NAME LIKE '%' #{keyword} '%' )	 
 		<if test="c1_name != null and c1_name != ''">
 		AND (a.C1_NAME = #{c1_name}) 
 		</if> 		
 </select>
 
 <!--2차 카테고리 불러오기 (1차카테고리 선택 + 통합검색 후 )  -->
 <select id="kCate2list" resultType="com.rhymes.app.store.model.category.Category2Dto" parameterType="com.rhymes.app.store.model.ProductParam">	 	
 	<!-- SELECT DISTINCT(C2_NAME) FROM rhy_store_product
 	WHERE C_NAME LIKE '%' #{keyword} '%' OR P_NAME LIKE '%' #{keyword} '%'
 		AND C1_NAME = #{c1_name} -->
 	SELECT DISTINCT(a.C2_NAME), b.C2_SEQ
 	FROM rhy_store_product a INNER JOIN rhy_store_cate2 b
 		ON a.C2_NAME = b.C2_NAME
 	WHERE (a.C_NAME LIKE '%' #{keyword} '%' OR a.P_NAME LIKE '%' #{keyword} '%' )
 		AND (a.C1_NAME = #{c1_name} AND b.C1_SEQ = #{c1_seq})	 
 </select>
 
  <!--3차 카테고리 -->
 <select id="kCate3list" resultType="com.rhymes.app.store.model.category.Category3Dto" parameterType="com.rhymes.app.store.model.ProductParam">	 	
 	SELECT DISTINCT(C3_NAME) FROM rhy_store_product
 	WHERE (C_NAME LIKE '%' #{keyword} '%' OR P_NAME LIKE '%' #{keyword} '%') 
 		AND (C1_NAME = #{c1_name} AND C2_NAME = #{c2_name})
 </select>
 
</mapper>