<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 물품 등록 -->
<mapper namespace="Used">
	<insert id="write" parameterType="com.rhymes.app.used.model.ProductsDto">
	INSERT INTO rhy_used_products(s_id,category,title,content,price,quantity,place,photo,photo_sys,division,likes,readcount,rdate)
	VALUES (#{s_id},#{category},#{title},#{content},#{price},#{quantity},#{place},#{photo},#{photo_sys},'판매중',0,0,SYSDATE())
	</insert>
	
<!-- 물품 리스트  -->	
<select id="getUsedList" resultType="com.rhymes.app.used.model.ProductsDto">
	SELECT * FROM
	rhy_used_products
</select>

<!-- 물품 디테일 -->
<select id="getUsedDetail" resultType="com.rhymes.app.used.model.ProductsDto" parameterType="java.lang.Integer">
	SELECT *	
	FROM rhy_used_products
	where seq=#{seq}
</select>

<!-- 셀러 인증 카운트 증가 -->
<update id="updateSellerCount" parameterType="java.lang.String">
	UPDATE rhy_mem_p  
	SET COUNT=COUNT+1
	where id=#{parameter}
</update>

<!-- 셀러 인증 카운트 조회 -->
<select id="getSellerCount" resultType="java.lang.Integer" parameterType="java.lang.String">
	SELECT COUNT
	FROM rhy_mem_p
	where id=#{parameter}
</select>

<!-- 멤버 정보 불러오기 -->
<select id="getMember" resultType="com.rhymes.app.member.model.P_MemberDTO" parameterType="java.lang.String">
	SELECT id,name,postcode,address,detailaddress,phone,gender,birth,count
	FROM rhy_mem_p
	where id=#{userid}
</select>

<!-- 기본주소가 등록된 회원 판매자 등록 -->
<insert id="setSellerMember" parameterType="java.lang.String">
	INSERT INTO rhy_used_seller(s_id,rdate)
	VALUES(#{s_id},SYSDATE())
</insert>

<!-- 기본주소가 없는 회원 주소추가 -->
<update id="setSelleraddress" parameterType="com.rhymes.app.member.model.P_MemberDTO">
	UPDATE rhy_mem_p
	SET postcode=#{postcode}, address=#{address}, detailaddress=#{detailAddress}
	WHERE ID=#{userid}
</update>

<!-- 기본주소가 없는 회원 판매자 등록 -->
<insert id="setSellerMember2" parameterType="com.rhymes.app.member.model.P_MemberDTO">
	INSERT INTO rhy_used_seller(s_id,rdate)
	VALUES(#{userid},SYSDATE())
</insert>

<!-- 게시글 클릭시 좋아요 여부 조회 -->
<select id="getlikes" parameterType="hashmap" resultType="java.lang.Integer">
	SELECT count(*)
	FROM rhy_used_likes
	WHERE mname=#{mname} AND bno=#{bno}
</select>

<!-- 게시글의 좋아요 개수 조회 -->
<select id="getboardlikes" parameterType="java.lang.Integer" resultType="java.lang.Integer">
	SELECT count(*)
	FROM rhy_used_likes
	WHERE bno=#{seq}
</select>

<!-- 게시글 조회수 증가 -->
<update id="updateReadCount" parameterType="java.lang.Integer">
	UPDATE rhy_used_products
	SET readcount = readcount + 1
	WHERE seq=#{seq}
</update>

<!-- 좋아요 삭제  -->
<delete id="deletelikes" parameterType="hashmap">
	DELETE FROM rhy_used_likes
	WHERE mname=#{mname} AND bno=#{bno}
</delete>

<!-- 좋아요 추가 -->
<insert id="addlikes" parameterType="hashmap">
	INSERT INTO rhy_used_likes (mname,bno)
	VALUES(#{mname},#{bno})
</insert>

<!-- 댓글 불러오기 -->
<select id="getComments" parameterType="java.lang.Integer" resultType="com.rhymes.app.used.model.CommentsDto">
	SELECT seq,id,comments,wdate,parent,ref,step,depth
	FROM rhy_used_Comments
	where parent=#{seq}
	order by ref desc, step asc
</select>

<!-- 댓글 작성 -->
<insert id="addComments" parameterType="hashmap">
	INSERT INTO rhy_used_Comments(id,comments,wdate,parent,ref,step,depth)
	VALUES(#{userid},#{comments},SYSDATE(),#{parent},(SELECT IFNULL(MAX(REF), 0)+1 FROM rhy_used_Comments ALIAS_FOR_SUBQUERY),0,0)
</insert><!-- (SELECT IFNULL(MAX(REF), 0)+1 FROM rhy_used_Comments ALIAS_FOR_SUBQUERY) -->

<!-- 댓글 수정 -->
<update id="updateComment" parameterType="hashmap">
	UPDATE rhy_used_Comments
	SET comments=#{comments}
	WHERE parent=#{parent}
	AND seq=#{seq}
</update>

<!-- 댓글 삭제 -->
<delete id="deleteComment" parameterType="hashmap">
	DELETE FROM rhy_used_Comments
	WHERE parent=#{parent}
	AND seq=#{seq}
</delete>

<!-- 답글 정렬을 위한 step 업데이트 -->
<update id="updateanswer" parameterType="hashmap">
update rhy_used_Comments 
set step = step + 1
where seq in ( select seq
					from ( select seq
							from rhy_used_Comments
							where seq = #{seq}) tmp )
</update>

<!-- 답글 등록  -->
<insert id="insertanswer" parameterType="hashmap">
	INSERT INTO rhy_used_Comments(id,comments,wdate,parent,ref,step,depth)
	VALUES(#{userid},#{comments},SYSDATE(),#{parent},(select ref 
													 from ( select ref
													 from  rhy_used_Comments
													 			where seq = #{seq} ) m1 ),(select step 
													 from ( select step
													 from  rhy_used_Comments
													 			where seq = #{seq} ) m2 ) + 1,(select depth 
													 from ( select depth
													 from  rhy_used_Comments
													 			where seq = #{seq} ) m3 ) + 1)
</insert>
</mapper>