@charset "UTF-8";



/* 리스트테이블 */
.list_table { width:98%;}
.list_table th { text-align:center; padding:20px 0px;  border-top: 3px solid #E0FF8B;}
.list_table td { padding:20px 0px 20px 10px;  border-top:1px solid #EFEFEF;}
.list_table td,.list_table th { font-size: 12px;}
 